{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock title %}Scrumptious Recipes</title>
        <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
    </head>
    <body>
        <header>
            <nav class="nav-style">
                <a href="{% url 'main_page' %}" class="nav-link-style">Main page</a>
                <a href="{% url 'create_recipe' %}" class="nav-link-style">Create a Recipe</a>
                {% block nav %}{% endblock nav %}
            </nav>
        </header>
        <main>
            {% block content %}{% endblock content %}
        </main>
        <footer>
            <p class="footer-text"><B>Made with love by Scrumptious Recipes</B></p>
        </footer>
    </body>
</html>
