{% extends 'recipes/base.html' %}

{% block content %}
    <div class="htmlmaincontent">
        <h1 class="title-text-color">Create A Recipe</h1>
        <a href="{%url 'main_page'%}"><button class="cancel">Cancel</button></a>
        <form method="post">
        {% csrf_token %}
        <ul class="formlist">
            <p>Title:</p>
            {{ form.title }}
            <p>Picture:</p>
            {{ form.picture }}
            <p>Description</p>
            {{ form.description }}
        </ul>
        <br style="margin-bottom:5px">
        <button type="reset" class="reset">Reset</button>
        <button type="submit" class="submit">Create</button>
        </form>
    </div>
{% endblock content %}
