{% extends 'recipes/base.html' %}

{%block title%} {{ recipe_object.title }} - {%endblock title%}

{% block nav %}
    <a href="{% url 'edit_recipe' recipe_object.id %}" class="nav-link-style">Edit this Recipe</a>
{% endblock nav %}

{% block content %}
    <div class="htmlmaincontent">
        <h1 class="title-text-color">{{ recipe_object.title }}</h1>
        <div class="grid recipe-detail">
            <img class="fitpicture" src="{{ recipe_object.picture }}" alt="Actually a meat taco">
            <div class="imgtxt">
                <p>4.3 stars</p>
                <p>{{ recipe_object.created_on|date:"F d Y"}}</p>
            </div>
        </div>
        <h2>Ingredients</h2>
        <table>
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Food item</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1 cup</td>
                    <td>Green beans</td>
                </tr>
                <tr>
                    <td>3 ears</td>
                    <td>Fresh corn</td>
                </tr>
                <tr>
                    <td>2 cups</td>
                    <td>Tomatillo salsa</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>corn tortillas</td>
                </tr>
                <tr>
                    <td>0.5 cups</td>
                    <td>Cotjia cheese</td>
                </tr>
            </tbody>
        </table>
        <h2>Steps</h2>
        <div>
            <ol>
                <li>Blanch the green beans</li>
                <li>Grill the beans and the ears of the corn</li>
                <li>Slice the corn off the cob</li>
                <li>Grill the tortillas</li>
                <li>Assemble the tacos with veggies, salsa, and cheese</li>
            </ol>
        </div>
    </div>
{% endblock content %}
