{% extends 'recipes/base.html' %}

{%block content%}
    <div class="htmlmaincontent">
        <h1 class="title-text-color">Scrumptious Recipes</h1>
        <h2>All the food that's fit to eat</h2>
        <div class="flex wrap">
            {% for recipe in allrecipes %}
                <div>
                    <h3>
                        <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a><br>
                    </h3>
                    <div>
                        <a href="{% url 'show_recipe' recipe.id %}">
                        <img src="{{ recipe.picture }}" alt="this image is actually 80% meat" class="fitpicture">
                        </a>
                        <p class="img-text">4.3 stars</p>
                    </div>
                </div>
            {% endfor %}
    </div>
{%endblock content%}
