body {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    display:grid;
    grid-template-columns: .15fr 1fr .15fr;
    margin-bottom: 1em;
}

footer {
    padding:0.5em 0em;
    border-top:.1em solid black;
    background-color:rgb(167, 226, 135);
    margin-top: auto;
}

a {
    text-decoration:none;
    color:rgb(34, 162, 34);
}

tr:nth-child(even) {
    background-color: lightgray;
}

nav {
    display:grid;
    grid-template-columns:6em 8em 8em 8em;
}

ul p {
    margin:0;
    padding:0;
}

/* -----------Classes------------ */

.htmlmaincontent {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self:center;
}

.nav-style {
    border: 2px black;
    border-style: none none solid none;
    padding: 1em 0em;
    background-color: rgb(219 88 24);
}

.nav-link-style {
    margin-left:0.6em;
    color: white;
    font-weight:bold;
    width:150px;
}

.fitpicture {
    object-fit:fill;
    width: 250px;
    height: 250px;
    border: .1em solid black;
}

.imgtxt {
    display:grid;
    grid-template-columns:1fr 1fr;
    width:250px;
    margin:0 auto;
}

.imgtxt > p:first-child {
    margin:0 auto 0 0;
}

.imgtxt > p:last-child {
    margin:0 0 0 auto;
}

.title-text-color {
    color:darkgreen;
    text-shadow:1px 1px 1px #048faf;
}

.flex {
    display:flex;
}

.wrap {
    flex-wrap:wrap;
    justify-content:left;
    row-gap:1.25em;
    column-gap:2.5em;
}

.grid {
    display:grid;
    width:250px;
}

.recipe-detail {
    grid-template-rows:1fr .1fr;
}

.grid-recipes {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr;
    justify-items:left;
}

.footer-text {
    margin-left:20px;
}



.formlist{
    padding:0;
    margin:0;
}

.formlist > input{
    padding:0;
    margin-bottom:3px;
}


/* --------------BUTTONS---------------- */

.submit {
    background-color: #198754;
    border: 2px solid #0f5c38;
    color: white;
    border-radius: .6em;
    height: 2.3em;
    width: 4em;
}

.submit:hover {
    background-color:#0c482c;
}

.reset {
    background-color: white;
    border: 2px solid black;
    color: black;
    border-radius: .6em;
    height: 2.3em;
    width: 4em;
}

.reset:hover {
    background-color:rgb(200, 196, 196);
}

.cancel {
    margin:20px 0;
}
